.Grid-table{
  width: 100%;
}
.Grid-body{
  background-color: #eee;
  text-align: center;
}
.Grid-head{
  background-color: #ccc;
  color: #f5f5f5;
}
.Grid-table th{
  text-align: center;
}